Initialise and establish connection to SQL Server and Database

In [3]:
import pyodbc
import pandas as pd

cnxn = pyodbc.connect("Driver={SQL Server};"
                      "Server=localhost\SQLEXPRESS;"
                      "Database=AdventureWorksDW2016;"
                      "Trusted_Connection=True;")
                


cursor = cnxn.cursor()

Import main data - Sales, Customer and Product data - joined by customer and product keys.
1 line per sale line item / product item sold. 61000 rows

In [27]:
main = pd.read_sql(
    """select Cust.*,Sales.*,Prod.*
from [dbo].[FactInternetSales] Sales
left join [dbo].[DimCustomer] Cust
on Sales.[CustomerKey] = Cust.[CustomerKey]
left join [dbo].[DimProduct] Prod on
Sales.[ProductKey] = Prod.[ProductKey]""", cnxn)

In [28]:
main.head(2)

,CustomerKey,GeographyKey,CustomerAlternateKey,Title,FirstName,MiddleName,LastName,NameStyle,BirthDate,MaritalStatus,...,ChineseDescription,ArabicDescription,HebrewDescription,ThaiDescription,GermanDescription,JapaneseDescription,TurkishDescription,StartDate,EndDate,Status
0,11000,26,AW00011000,None,Jon,V,Yang,False,1971-10-06,M,...,高档竞赛山地车。性能得到进一步增强，包括创新的 HL 车架、极其平稳的前悬架以及适用于所有地...,دراجة سباقات مخصصة للقيادة في الجبال من أعلى ط...,אופני הרים תחרותיים מהשורה הראשונה. אפשרויות ל...,สุดยอดจักรยานภูเขาสำหรับการแข่งขัน สมบูรณ์แบบด...,"""Top-Mountainbike für Profis. Mit innovativem ...",最高級の競技用マウンテン バイクです。性能強化オプションとしては、革新的な HL フレーム、...,"""En üst model rekabetçi dağ bisikleti. Perform...",2011-07-01,2007-12-28,None
1,11000,26,AW00011000,None,Jon,V,Yang,False,1971-10-06,M,...,适用于环境恶劣的野外骑乘。可应对各种比赛的完美赛车。使用与 Mountain-100 相同的...,لقيادة المحترفين في المناطق الريفية. دراجة مُث...,לרכיבה רצינית בשטחים נידחים. מתאימים לכל רמה ש...,สำหรับการขี่ในเส้นทางผจญภัย เหมาะที่สุดสำหรับ...,Mountainbike für Profis. Perfekt für alle Schw...,バック カントリーまたは全レベルの競技用で、Mountain-100 と同じ HL フレーム...,Gerçek arazi sürüşü. Tüm yarışma seviyeleri iç...,2013-07-01,NaT,Current

look through columns and select drop list - eg multi language descriptions

In [29]:
list(main.columns)

['CustomerKey',
 'GeographyKey',
 'CustomerAlternateKey',
 'Title',
 'FirstName',
 'MiddleName',
 'LastName',
 'NameStyle',
 'BirthDate',
 'MaritalStatus',
 'Suffix',
 'Gender',
 'EmailAddress',
 'YearlyIncome',
 'TotalChildren',
 'NumberChildrenAtHome',
 'EnglishEducation',
 'SpanishEducation',
 'FrenchEducation',
 'EnglishOccupation',
 'SpanishOccupation',
 'FrenchOccupation',
 'HouseOwnerFlag',
 'NumberCarsOwned',
 'AddressLine1',
 'AddressLine2',
 'Phone',
 'DateFirstPurchase',
 'CommuteDistance',
 'ProductKey',
 'OrderDateKey',
 'DueDateKey',
 'ShipDateKey',
 'CustomerKey',
 'PromotionKey',
 'CurrencyKey',
 'SalesTerritoryKey',
 'SalesOrderNumber',
 'SalesOrderLineNumber',
 'RevisionNumber',
 'OrderQuantity',
 'UnitPrice',
 'ExtendedAmount',
 'UnitPriceDiscountPct',
 'DiscountAmount',
 'ProductStandardCost',
 'TotalProductCost',
 'SalesAmount',
 'TaxAmt',
 'Freight',
 'CarrierTrackingNumber',
 'CustomerPONumber',
 'OrderDate',
 'DueDate',
 'ShipDate',
 'ProductKey',
 'ProductAlternateKey',
 'ProductSubcategoryKey',
 'WeightUnitMeasureCode',
 'SizeUnitMeasureCode',
 'EnglishProductName',
 'SpanishProductName',
 'FrenchProductName',
 'StandardCost',
 'FinishedGoodsFlag',
 'Color',
 'SafetyStockLevel',
 'ReorderPoint',
 'ListPrice',
 'Size',
 'SizeRange',
 'Weight',
 'DaysToManufacture',
 'ProductLine',
 'DealerPrice',
 'Class',
 'Style',
 'ModelName',
 'LargePhoto',
 'EnglishDescription',
 'FrenchDescription',
 'ChineseDescription',
 'ArabicDescription',
 'HebrewDescription',
 'ThaiDescription',
 'GermanDescription',
 'JapaneseDescription',
 'TurkishDescription',
 'StartDate',
 'EndDate',
 'Status']

In [30]:
drop = [
    'FrenchDescription',
    'ArabicDescription',
    'HebrewDescription',
    'ThaiDescription',
    'GermanDescription',
    'JapaneseDescription',
    'TurkishDescription',
    'LargePhoto',
    'SpanishProductName',
    'FrenchProductName',
    'SpanishOccupation',
    'FrenchOccupation', 
    'SpanishEducation',
    'FrenchEducation', 
    'AddressLine1',
    'AddressLine2',
    'Phone',
    'ChineseDescription',
    'CustomerAlternateKey',
    'Title',
    'FirstName',
    'MiddleName',
    'LastName',
    'NameStyle',
    'Suffix',
    'EmailAddress',
    'AddressLine1',
    'AddressLine2',
    'Phone'
]

main = main.drop(columns = drop)

In [31]:
main.head(2)

,CustomerKey,GeographyKey,BirthDate,MaritalStatus,Gender,YearlyIncome,TotalChildren,NumberChildrenAtHome,EnglishEducation,EnglishOccupation,...,DaysToManufacture,ProductLine,DealerPrice,Class,Style,ModelName,EnglishDescription,StartDate,EndDate,Status
0,11000,26,1971-10-06,M,M,90000.0,2,0,Bachelors,Professional,...,4,M,2039.994,H,U,Mountain-100,Top-of-the-line competition mountain bike. Per...,2011-07-01,2007-12-28,None
1,11000,26,1971-10-06,M,M,90000.0,2,0,Bachelors,Professional,...,4,M,1391.994,H,U,Mountain-200,Serious back-country riding. Perfect for all l...,2013-07-01,NaT,Current

In [39]:
main.dtypes[0:9] # run through 10 at a time and clean u as necessary

CustomerKey               int64
GeographyKey              int64
BirthDate                object
MaritalStatus            object
Gender                   object
YearlyIncome            float64
TotalChildren             int64
NumberChildrenAtHome      int64
EnglishEducation         object
dtype: object

In [42]:
main['BirthDate']=pd.to_datetime(main['BirthDate'])

cols = ['MaritalStatus', 'Gender', 'EnglishEducation']
main[cols] = main[cols].astype('category')

In [44]:
main.dtypes[10:19]

HouseOwnerFlag       object
NumberCarsOwned       int64
DateFirstPurchase    object
CommuteDistance      object
ProductKey            int64
OrderDateKey          int64
DueDateKey            int64
ShipDateKey           int64
CustomerKey           int64
dtype: object

In [45]:
main['DateFirstPurchase']=pd.to_datetime(main['DateFirstPurchase'])

cols = ['HouseOwnerFlag', 'CommuteDistance']
main[cols] = main[cols].astype('category')

In [46]:
main.dtypes[20:29]

CurrencyKey               int64
SalesTerritoryKey         int64
SalesOrderNumber         object
SalesOrderLineNumber      int64
RevisionNumber            int64
OrderQuantity             int64
UnitPrice               float64
ExtendedAmount          float64
UnitPriceDiscountPct    float64
dtype: object

In [47]:
main['SalesOrderNumber'] = main['SalesOrderNumber'].astype('string')

In [48]:
main.dtypes[30:39]

ProductStandardCost             float64
TotalProductCost                float64
SalesAmount                     float64
TaxAmt                          float64
Freight                         float64
CarrierTrackingNumber            object
CustomerPONumber                 object
OrderDate                datetime64[ns]
DueDate                  datetime64[ns]
dtype: object

In [54]:
main = main.drop(columns = ['CarrierTrackingNumber','CustomerPONumber'] )

In [55]:
main.dtypes[40:49]

ProductSubcategoryKey      int64
WeightUnitMeasureCode     object
SizeUnitMeasureCode       object
EnglishProductName        object
StandardCost             float64
FinishedGoodsFlag           bool
Color                     object
SafetyStockLevel           int64
ReorderPoint               int64
dtype: object

In [57]:
# drop stock information - not intending to model at thisstage
# also 'fine' details about products
drop = ['WeightUnitMeasureCode',
        'SizeUnitMeasureCode',
        'SafetyStockLevel',
        'ReorderPoint']

main = main.drop(columns = drop)
main['EnglishProductName'] = main['EnglishProductName'].astype('string')

In [58]:
main.dtypes[35:45]

OrderDate                datetime64[ns]
DueDate                  datetime64[ns]
ShipDate                 datetime64[ns]
ProductKey                        int64
ProductAlternateKey              object
ProductSubcategoryKey             int64
EnglishProductName               string
StandardCost                    float64
FinishedGoodsFlag                  bool
Color                            object
dtype: object

In [62]:
main = main.drop(columns = 'ProductAlternateKey')
main['Color'] = main['Color'].astype('category')

In [69]:
list(main.dtypes)

[dtype('int64'),
 dtype('int64'),
 dtype('<M8[ns]'),
 CategoricalDtype(categories=['M', 'S'], ordered=False),
 CategoricalDtype(categories=['F', 'M'], ordered=False),
 dtype('float64'),
 dtype('int64'),
 dtype('int64'),
 CategoricalDtype(categories=['Bachelors', 'Graduate Degree', 'High School',
                   'Partial College', 'Partial High School'],
 , ordered=False),
 dtype('O'),
 CategoricalDtype(categories=['0', '1'], ordered=False),
 dtype('int64'),
 dtype('<M8[ns]'),
 CategoricalDtype(categories=['0-1 Miles', '1-2 Miles', '10+ Miles', '2-5 Miles',
                   '5-10 Miles'],
 , ordered=False),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 StringDtype,
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('<M8[ns]'),
 dtype('<M8[ns]'),
 dtype('<M8[ns]'),
 dtype('int64'),
 dtype('int64'),
 StringDtype,
 dtype('float64'),
 dtype('bool'),
 CategoricalDtype(categories=['Black', 'Blue', 'Multi', 'NA', 'Red', 'Silver', 'White',
                   'Yellow'],
 , ordered=False),
 dtype('float64'),
 dtype('O'),
 dtype('O'),
 dtype('float64'),
 dtype('int64'),
 dtype('O'),
 dtype('float64'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('<M8[ns]'),
 dtype('<M8[ns]'),
 dtype('O')]

In [74]:
main.shape
main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60398 entries, 0 to 60397
Data columns (total 58 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CustomerKey            60398 non-null  int64
 1   GeographyKey           60398 non-null  int64
 2   BirthDate              60398 non-null  datetime64[ns]
 3   MaritalStatus          60398 non-null  category
 4   Gender                 60398 non-null  category
 5   YearlyIncome           60398 non-null  float64
 6   TotalChildren          60398 non-null  int64
 7   NumberChildrenAtHome   60398 non-null  int64
 8   EnglishEducation       60398 non-null  category
 9   EnglishOccupation      60398 non-null  object
 10  HouseOwnerFlag         60398 non-null  category
 11  NumberCarsOwned        60398 non-null  int64
 12  DateFirstPurchase      60398 non-null  datetime64[ns]
 13  CommuteDistance        60398 non-null  category
 14  ProductKey             60398 non-null  int64
 15  OrderDateKey           60398 non-null  int64
 16  DueDateKey             60398 non-null  int64
 17  ShipDateKey            60398 non-null  int64
 18  CustomerKey            60398 non-null  int64
 19  PromotionKey           60398 non-null  int64
 20  CurrencyKey            60398 non-null  int64
 21  SalesTerritoryKey      60398 non-null  int64
 22  SalesOrderNumber       60398 non-null  string
 23  SalesOrderLineNumber   60398 non-null  int64
 24  RevisionNumber         60398 non-null  int64
 25  OrderQuantity          60398 non-null  int64
 26  UnitPrice              60398 non-null  float64
 27  ExtendedAmount         60398 non-null  float64
 28  UnitPriceDiscountPct   60398 non-null  float64
 29  DiscountAmount         60398 non-null  float64
 30  ProductStandardCost    60398 non-null  float64
 31  TotalProductCost       60398 non-null  float64
 32  SalesAmount            60398 non-null  float64
 33  TaxAmt                 60398 non-null  float64
 34  Freight                60398 non-null  float64
 35  OrderDate              60398 non-null  datetime64[ns]
 36  DueDate                60398 non-null  datetime64[ns]
 37  ShipDate               60398 non-null  datetime64[ns]
 38  ProductKey             60398 non-null  int64
 39  ProductSubcategoryKey  60398 non-null  int64
 40  EnglishProductName     60398 non-null  string
 41  StandardCost           60398 non-null  float64
 42  FinishedGoodsFlag      60398 non-null  bool
 43  Color                  60398 non-null  category
 44  ListPrice              60398 non-null  float64
 45  Size                   22849 non-null  object
 46  SizeRange              60398 non-null  object
 47  Weight                 15205 non-null  float64
 48  DaysToManufacture      60398 non-null  int64
 49  ProductLine            60398 non-null  object
 50  DealerPrice            60398 non-null  float64
 51  Class                  21452 non-null  object
 52  Style                  24306 non-null  object
 53  ModelName              60398 non-null  object
 54  EnglishDescription     60398 non-null  object
 55  StartDate              60398 non-null  datetime64[ns]
 56  EndDate                5428 non-null   datetime64[ns]
 57  Status                 54970 non-null  object
dtypes: bool(1), category(6), datetime64[ns](7), float64(14), int64(19), object(9), string(2)
memory usage: 23.9+ MB

A number of columns remain as object. Will ignore for now.

Save main dataset for modelling and further processing

In [76]:
main.to_pickle('main_df.pkl')